.git
.github
Apple
EpubFile
Fb2File
HtmlFile
HtmlFile2
HwpFile
MsBinaryFile
OOXML/Binary
OOXML/Common
OOXML/DocxFormat
OOXML/PPTXFormat
OOXML/Projects
OOXML/SystemUtility
OOXML/test
OOXML/VsdxFormat
OOXML/XlsbFormat
OOXML/XlsxFormat
OOXML/XML
OFDFile
RtfFile
Test
TxtFile
X2tConverter
# DjVuFile / DocxRenderer / XpsFile needed for drawingfile.wasm
Common/3dParty/v8
Common/3dParty/v8_89
Common/3dParty/cef
Common/3dParty/libvlc
Common/3dParty/boost
Common/3dParty/curl
# openssl + icu sources are fetched inside the Docker WASM stage
Common/3dParty/openssl
Common/3dParty/icu/icu
Common/3dParty/icu/icu2
Common/3dParty/heif
Common/3dParty/socketio
Common/3dParty/hunspell
Common/3dParty/hyphen
Common/3dParty/glew
Common/3dParty/googletest
Common/3dParty/harfbuzz
Common/3dParty/html
Common/3dParty/ixwebsocket
Common/3dParty/md
Common/3dParty/misc
Common/3dParty/apple
DesktopEditor/graphics/pro/js/emsdk
DesktopEditor/graphics/pro/js/deploy
DesktopEditor/graphics/pro/js/o
DesktopEditor/graphics/pro/js/xml
DesktopEditor/graphics/pro/js/freetype-2.10.4
**/*.a
# Do NOT ignore DesktopEditor/xml/build (libxml2_all.c + config.h needed for WASM)
PdfFile/build/
Common/build/
DesktopEditor/build/
DocxRenderer/build/
DjVuFile/build/
XpsFile/build/
build/
